USE [master]
GO
/****** Object:  Database [SueldoEmpleado]    Script Date: 24/10/2024 10:48:49 ******/
CREATE DATABASE [SueldoEmpleado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SueldoEmpleado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SueldoEmpleado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SueldoEmpleado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SueldoEmpleado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SueldoEmpleado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SueldoEmpleado]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 24/10/2024 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [bigint] NOT NULL,
	[SUELDOBRUTO] [float] NOT NULL,
	[SUELDONETO] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Empleado] ([APELLIDO], [DNI], [SUELDOBRUTO], [SUELDONETO]) VALUES (N'Rosales', 11112222333, 500000, 415000)
INSERT [dbo].[Empleado] ([APELLIDO], [DNI], [SUELDOBRUTO], [SUELDONETO]) VALUES (N'Gonzalez', 22223333444, 1000000, 830000)
INSERT [dbo].[Empleado] ([APELLIDO], [DNI], [SUELDOBRUTO], [SUELDONETO]) VALUES (N'Ramirez', 33331111222, 200000, 166000)
GO
USE [master]
GO
